<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Swarm</key>
    <dict>
        <key>group</key>
        <string>memoryinout_white</string>
        <key>program</key>
        <string>memory_22</string>
        <key>event_in</key>
        <string>memoryin</string>
        <key>event_out</key>
        <string>memoryout</string>
    </dict>
    <key>Mutator</key>
    <dict>
        <key>group</key>
        <string>memoryinout_white</string>
        <key>program</key>
        <string>memory_22</string>
        <key>event_in</key>
        <string>memoryin</string>
        <key>event_out</key>
        <string>memoryout</string>
    </dict>
    <key>Hunter/Killer</key>
    <dict>
        <key>group</key>
        <string>bandwidthattackinout_white</string>
        <key>program</key>
        <string>bandwidth_22</string>
        <key>event_in</key>
        <string>bandwidthin</string>
        <key>event_out</key>
        <string>bandwidthout</string>
    </dict>
    <key>d0s</key>
    <dict>
        <key>group</key>
    <string>bandwidthattackinout_white</string>
        <key>program</key>
        <string>bandwidth_22</string>
        <key>event_in</key>
        <string>bandwidthin</string>
        <key>event_out</key>
        <string>bandwidthout</string>
    </dict>
    <key>Ice</key>
    <dict>
        <key>group</key>
        <string>bandwidthattackinout_white</string>
        <key>program</key>
        <string>bandwidth_22</string>
        <key>event_in</key>
        <string>bandwidthin</string>
        <key>event_out</key>
        <string>bandwidthout</string>
    </dict>
    <key>Intelligence</key>
    <dict>
        <key>group</key>
        <string>bandwidthattackinout_white</string>
        <key>program</key>
        <string>bandwidth_22</string>
        <key>event_in</key>
        <string>bandwidthin</string>
        <key>event_out</key>
        <string>bandwidthout</string>
    </dict>
    <key>Infect</key>
    <dict>
        <key>group</key>
        <string>bandwidthattackin_white</string>
        <key>program</key>
        <string>bandwidth_22</string>
        <key>event_in</key>
        <string>bandwidthin</string>
        <key>event_out</key>
        <string>bandwidthout</string>
    </dict>
    <key>Connection</key>
    <dict>
        <key>group</key>
        <string>bandwidthattackin_white</string>
        <key>program</key>
        <string>bandwidth_22</string>
        <key>event_in</key>
        <string>bandwidthin</string>
        <key>event_out</key>
        <string>bandwidthout</string>
    </dict>
    <key>Firewall</key>
    <dict>
        <key>group</key>
        <string>bandwidthattackin_white</string>
        <key>program</key>
        <string>bandwidth_22</string>
        <key>event_in</key>
        <string>bandwidthin</string>
        <key>event_out</key>
        <string>bandwidthout</string>
    </dict>
</dict>
</plist>
